## 1. Upload CSV files and Preprocessing

In [1]:
import pandas as pd
import pyodbc
df_person = pd.read_csv("BI_assignment_person.csv",low_memory=False)
df_person = df_person.dropna(how='all')
df_person = df_person.fillna(value=0)
df_person

,id_person,name,surname,zip,city,country,email,phone_number,birth_date
0,1.0,Añaterve,Ñeco,10001.0,les Escaldes,Andorra,añaterve.ñeco@bestdomain.com,0.0,6/7/22
1,2.0,Añes,Ñiguez,10002.0,Andorra la Vella,Andorra,añes.ñiguez@bestdomain.com,0.0,1/23/30
2,3.0,Aadil,Açaola,10003.0,Umm al Qaywayn,United Arab Emirates,aadil.açaola@bestdomain.com,0.0,11/5/38
3,4.0,Aali,Añaños,10004.0,Ras al-Khaimah,United Arab Emirates,aali.añaños@bestdomain.com,0.0,9/5/39
4,5.0,Aaliyah,Añale,10005.0,Khawr Fakkān,United Arab Emirates,aaliyah.añale@bestdomain.com,0.0,10/7/40
...,...,...,...,...,...,...,...,...,...
19943,19944.0,Zuzanna,Diouf,29944.0,Palmetto Bay,United States,zuzanna.diouf@bestdomain.com,0.0,31-Aug-89
19944,19945.0,Zviad,Dipl,29945.0,Panama City,United States,zviad.dipl@bestdomain.com,0.0,6-Aug-91
19945,19946.0,Zviadi,Dipold,29946.0,Parkland,United States,zviadi.dipold@bestdomain.com,0.0,15-Apr-92
19946,19947.0,Zydrunas,Dippacher,29947.0,Pembroke Pines,United States,zydrunas.dippacher@bestdomain.com,0.0,12-Nov-92
19947,19948.0,Zygmunt,Dippel,29948.0,Pensacola,United States,zygmunt.dippel@bestdomain.com,0.0,12-Aug-93

In [44]:
import sys
sys.executable.split('/')

['C:\\Users\\Mohan\\Anaconda3\\python.exe']

In [2]:
df_account = pd.read_csv("BI_assignment_account.csv")
df_account = df_account.dropna(how='all')
df_account

      id_account  id_person account_type
0              1       9264        Trial
1              2       7743        Trial
2              3      11791        Trial
3              4       8078        Trial
4              5       5528        Trial
...          ...        ...          ...
1794        1795      10050   Enterprise
1795        1796      12808   Enterprise
1796        1797      10063   Enterprise
1797        1798      12464   Enterprise
1798        1799      10592   Enterprise

[1799 rows x 3 columns]

In [38]:
df_transaction = pd.read_csv("BI_assignment_transaction.csv")
df_transaction = df_transaction.dropna(how='all')
df_transaction['transaction_type'].astype(str)

0       P1
1       P1
2       P1
3       P1
4       P1
        ..
2549    P1
2550    P1
2551    P1
2552    P1
2553    P1
Name: transaction_type, Length: 2554, dtype: object

####  create  "month" column of transaction dataframe

In [39]:
df_transaction['transaction_date']= pd.DatetimeIndex(df_transaction['transaction_date'])
df_transaction['transaction_month'] = df_transaction['transaction_date'].apply(lambda x: '{:02d}'.format(x.month)+'.'+'{:04d}'.format(x.year))
df_transaction

,id_transaction,id_account,transaction_type,transaction_date,transaction_amount,transaction_month
0,1,1,P1,2020-01-30,23.1926,01.2020
1,2,2,P1,2020-02-04,31.6739,02.2020
2,3,3,P1,2020-02-05,14.8455,02.2020
3,4,4,P1,2020-02-17,10.3026,02.2020
4,5,5,P1,2020-02-18,14.7379,02.2020
...,...,...,...,...,...,...
2549,2439,1755,P1,2020-03-06,10.6197,03.2020
2550,2439,1756,P1,2020-03-09,18.7735,03.2020
2551,2439,1757,P1,2020-03-11,12.1270,03.2020
2552,2439,1758,P1,2020-03-19,27.1828,03.2020
2553,2439,1759,P1,2020-03-25,19.6165,03.2020

In [32]:
df_transaction['transaction_type']

KeyError: 'transaction_type'

## 2. Connection to the SQL Server

In [5]:
import pyodbc 

server = 'DESKTOP-9C8N45J\SHREENATHSQL'
database = 'Customers_Detail'
#driver = '{SQL Server}'
username = 'sa'
password = 'shree12345'
conn_sec = 'yes'
# define our connection string 
cnxn = pyodbc.connect('DRIVER={SQL Server}', \
                       SERVER = server, \
                       DATABASE=database, \
                       UID=username,\
                       PWD=password, \
                       Trusted_Connection=conn_sec)

cursor = cnxn.cursor()

In [6]:
query_select_person = 'SELECT * FROM Customers_Detail.[dbo].[person]'
persons_data = pd.read_sql_query(query_select_person, cnxn)
persons_data

,id_person,name,surname,zip,city,country,email,phone_number,birth_date
0,1,Añaterve,Ñeco,10001,les Escaldes,Andorra,añaterve.ñeco@bestdomain.com,0,6/7/22
1,2,Añes,Ñiguez,10002,Andorra la Vella,Andorra,añes.ñiguez@bestdomain.com,0,1/23/30
2,3,Aadil,Açaola,10003,Umm al Qaywayn,United Arab Emirates,aadil.açaola@bestdomain.com,0,11/5/38
3,4,Aali,Añaños,10004,Ras al-Khaimah,United Arab Emirates,aali.añaños@bestdomain.com,0,9/5/39
4,5,Aaliyah,Añale,10005,Khawr Fakkān,United Arab Emirates,aaliyah.añale@bestdomain.com,0,10/7/40
...,...,...,...,...,...,...,...,...,...
19942,19944,Zuzanna,Diouf,29944,Palmetto Bay,United States,zuzanna.diouf@bestdomain.com,0,31-Aug-89
19943,19945,Zviad,Dipl,29945,Panama City,United States,zviad.dipl@bestdomain.com,0,6-Aug-91
19944,19946,Zviadi,Dipold,29946,Parkland,United States,zviadi.dipold@bestdomain.com,0,15-Apr-92
19945,19947,Zydrunas,Dippacher,29947,Pembroke Pines,United States,zydrunas.dippacher@bestdomain.com,0,12-Nov-92
19946,19948,Zygmunt,Dippel,29948,Pensacola,United States,zygmunt.dippel@bestdomain.com,0,12-Aug-93

####  Insert person's data to "person"  table

In [7]:
for index,row in df_person.iterrows():
    try:
        cursor.execute("INSERT INTO dbo.person([id_person],[name],[surname],[zip],[city],[country],[email],[phone_number],[birth_date]) values (?,?,?,?,?,?,?,?,?)",row['id_person'],row['name'],row['surname'],row['zip'],row['city'],row['country'],row['email'],row['phone_number'],row['birth_date']) 
        cnxn.commit()
    except:
        pass

In [8]:
query_select_account = 'SELECT * FROM Customers_Detail.[dbo].[account]'
account_data = pd.read_sql_query(query_select_account, cnxn)
account_data

      id_account  id_person account_type
0              1       9264        Trial
1              2       7743        Trial
2              3      11791        Trial
3              4       8078        Trial
4              5       5528        Trial
...          ...        ...          ...
1794        1795      10050   Enterprise
1795        1796      12808   Enterprise
1796        1797      10063   Enterprise
1797        1798      12464   Enterprise
1798        1799      10592   Enterprise

[1799 rows x 3 columns]

####  Insert account data to "account"  table

In [9]:
for index,row in df_account.iterrows():
    try:
        cursor.execute("INSERT INTO dbo.account([id_account],[id_person],[account_type]) values (?,?,?)",row['id_account'],row['id_person'],row['account_type']) 
        cnxn.commit()
    except:
        pass

In [10]:
query_select_transaction = 'SELECT * FROM Customers_Detail.[dbo].[transaction_2]'
transaction_data = pd.read_sql_query(query_select_transaction, cnxn)
transaction_data

      id_transaction  id_account type                 date   amount    month
0                  1           1   P1  Jan 30 2020 12:00AM  23.1926  01.2020
1                  2           2   P1  Feb  4 2020 12:00AM  31.6739  02.2020
2                  3           3   P1  Feb  5 2020 12:00AM  14.8455  02.2020
3                  4           4   P1  Feb 17 2020 12:00AM  10.3026  02.2020
4                  5           5   P1  Feb 18 2020 12:00AM  14.7379  02.2020
...              ...         ...  ...                  ...      ...      ...
2434            2435        1640   P1  Mar  6 2020 12:00AM  32.8697  03.2020
2435            2436        1641   P1  Mar  9 2020 12:00AM  22.8155  03.2020
2436            2437        1642   P1  Mar 11 2020 12:00AM   3.4951  03.2020
2437            2438        1643   P1  Mar 19 2020 12:00AM  11.8633  03.2020
2438            2439        1644   P1  Mar 25 2020 12:00AM  30.0210  03.2020

[2439 rows x 6 columns]

#### Insert transaction data to "transaction" table

In [29]:
for index,row in df_transaction.iterrows():
    try:
        cursor.execute("INSERT INTO dbo.transaction_2([id_transaction],[id_account],[type],[date],[amount],[month]) values (?,?,?,?,?,?)",row['id_transaction'],row['id_account'],row['transaction_type'],row['transaction_date'],row['transaction_amount'],row['transaction_month'])
        cnxn.commit()
    except Exception as ex:
        print(ex)
        print('exception occured here !! ')
        pass

'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'

'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'

'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'

'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'
exception occured here !!
'transaction_type'

## 3. Read Dataframes from SQL Server.

In [12]:
query_person = 'SELECT * FROM Customers_Detail.[dbo].[person]'
query_account = 'SELECT * FROM Customers_Detail.[dbo].[account]'
query_transaction = 'SELECT * FROM Customers_Detail.[dbo].[transaction_2]'
df_person = pd.read_sql_query(query_person, cnxn)
df_account = pd.read_sql_query(query_account, cnxn)
df_transaction = pd.read_sql_query(query_transaction, cnxn)

In [13]:
df_transaction

      id_transaction  id_account type                 date   amount    month
0                  1           1   P1  Jan 30 2020 12:00AM  23.1926  01.2020
1                  2           2   P1  Feb  4 2020 12:00AM  31.6739  02.2020
2                  3           3   P1  Feb  5 2020 12:00AM  14.8455  02.2020
3                  4           4   P1  Feb 17 2020 12:00AM  10.3026  02.2020
4                  5           5   P1  Feb 18 2020 12:00AM  14.7379  02.2020
...              ...         ...  ...                  ...      ...      ...
2434            2435        1640   P1  Mar  6 2020 12:00AM  32.8697  03.2020
2435            2436        1641   P1  Mar  9 2020 12:00AM  22.8155  03.2020
2436            2437        1642   P1  Mar 11 2020 12:00AM   3.4951  03.2020
2437            2438        1643   P1  Mar 19 2020 12:00AM  11.8633  03.2020
2438            2439        1644   P1  Mar 25 2020 12:00AM  30.0210  03.2020

[2439 rows x 6 columns]

In [14]:
df_person.head()

,id_person,name,surname,zip,city,country,email,phone_number,birth_date
0,1,Añaterve,Ñeco,10001,les Escaldes,Andorra,añaterve.ñeco@bestdomain.com,0,6/7/22
1,2,Añes,Ñiguez,10002,Andorra la Vella,Andorra,añes.ñiguez@bestdomain.com,0,1/23/30
2,3,Aadil,Açaola,10003,Umm al Qaywayn,United Arab Emirates,aadil.açaola@bestdomain.com,0,11/5/38
3,4,Aali,Añaños,10004,Ras al-Khaimah,United Arab Emirates,aali.añaños@bestdomain.com,0,9/5/39
4,5,Aaliyah,Añale,10005,Khawr Fakkān,United Arab Emirates,aaliyah.añale@bestdomain.com,0,10/7/40

In [15]:
df_account.head()

   id_account  id_person account_type
0           1       9264        Trial
1           2       7743        Trial
2           3      11791        Trial
3           4       8078        Trial
4           5       5528        Trial

In [16]:
df_transaction.head()

   id_transaction  id_account type                 date   amount    month
0               1           1   P1  Jan 30 2020 12:00AM  23.1926  01.2020
1               2           2   P1  Feb  4 2020 12:00AM  31.6739  02.2020
2               3           3   P1  Feb  5 2020 12:00AM  14.8455  02.2020
3               4           4   P1  Feb 17 2020 12:00AM  10.3026  02.2020
4               5           5   P1  Feb 18 2020 12:00AM  14.7379  02.2020

## 4. Get Specific Result by using Python Functions

In [17]:
target_id = [1234,345]
target_person_df = df_person[df_person['id_person'].isin(target_id)]
target_person_df

,id_person,name,surname,zip,city,country,email,phone_number,birth_date
344,345,0,Abloff,10345,Schwechat,Austria,eastegg.abloff@bestdomain.com,0,4/19/80
1233,1234,Anam,Ahis,11234,Maragogi,Brazil,anam.ahis@bestdomain.com,0,7/19/47

In [18]:
target_account_df = df_account[df_account['id_person'].isin(target_id)]
target_account_df.reset_index(drop=True, inplace=True) 
target_account_df

   id_account  id_person      account_type
0         229        345  Business Premium
1        1124       1234          Business
2        1248        345          Business

In [19]:
target_account = target_account_df['id_account'].values.tolist()
target_account

[229, 1124, 1248]

In [20]:
target_transaction_df = df_transaction[df_transaction['id_account'].isin(target_account)]
target_transaction_df

      id_transaction  id_account type                 date   amount    month
262              263         229   P1  Feb 17 2020 12:00AM  11.3398  02.2020
263              264         229   P1  Feb 18 2020 12:00AM  12.3439  02.2020
264              265         229   P1  Feb 21 2020 12:00AM  10.8722  02.2020
265              266         229   P1  Feb 24 2020 12:00AM  14.7201  02.2020
266              267         229   P1  Mar  2 2020 12:00AM  11.3519  03.2020
...              ...         ...  ...                  ...      ...      ...
2360            2361        1124   P1  Feb 24 2020 12:00AM  16.8956  02.2020
2361            2362        1124   P1  Mar  2 2020 12:00AM  31.8989  03.2020
2362            2363        1124   P1  Mar  6 2020 12:00AM   9.5396  03.2020
2363            2364        1124   P1  Mar  9 2020 12:00AM  24.6367  03.2020
2364            2365        1124   P1  Mar 11 2020 12:00AM   4.7039  03.2020

[890 rows x 6 columns]

In [21]:
df_transaction

      id_transaction  id_account type                 date   amount    month
0                  1           1   P1  Jan 30 2020 12:00AM  23.1926  01.2020
1                  2           2   P1  Feb  4 2020 12:00AM  31.6739  02.2020
2                  3           3   P1  Feb  5 2020 12:00AM  14.8455  02.2020
3                  4           4   P1  Feb 17 2020 12:00AM  10.3026  02.2020
4                  5           5   P1  Feb 18 2020 12:00AM  14.7379  02.2020
...              ...         ...  ...                  ...      ...      ...
2434            2435        1640   P1  Mar  6 2020 12:00AM  32.8697  03.2020
2435            2436        1641   P1  Mar  9 2020 12:00AM  22.8155  03.2020
2436            2437        1642   P1  Mar 11 2020 12:00AM   3.4951  03.2020
2437            2438        1643   P1  Mar 19 2020 12:00AM  11.8633  03.2020
2438            2439        1644   P1  Mar 25 2020 12:00AM  30.0210  03.2020

[2439 rows x 6 columns]

In [22]:
target_transaction_df.drop(columns=['id_transaction', 'date', 'type'], inplace=True)
target_transaction_df

C:\Users\Mohan\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      id_account   amount    month
262          229  11.3398  02.2020
263          229  12.3439  02.2020
264          229  10.8722  02.2020
265          229  14.7201  02.2020
266          229  11.3519  03.2020
...          ...      ...      ...
2360        1124  16.8956  02.2020
2361        1124  31.8989  03.2020
2362        1124   9.5396  03.2020
2363        1124  24.6367  03.2020
2364        1124   4.7039  03.2020

[890 rows x 3 columns]

In [23]:
target_transaction_df.reset_index(drop=True, inplace=True)
target_transaction_df

     id_account   amount    month
0           229  11.3398  02.2020
1           229  12.3439  02.2020
2           229  10.8722  02.2020
3           229  14.7201  02.2020
4           229  11.3519  03.2020
..          ...      ...      ...
885        1124  16.8956  02.2020
886        1124  31.8989  03.2020
887        1124   9.5396  03.2020
888        1124  24.6367  03.2020
889        1124   4.7039  03.2020

[890 rows x 3 columns]

In [24]:
target_transaction_df = target_account_df.merge(target_transaction_df)[['id_account','amount','month','id_person']]
target_transaction_df

     id_account   amount    month  id_person
0           229  11.3398  02.2020        345
1           229  12.3439  02.2020        345
2           229  10.8722  02.2020        345
3           229  14.7201  02.2020        345
4           229  11.3519  03.2020        345
..          ...      ...      ...        ...
885        1248  31.7427  04.2020        345
886        1248  35.7516  04.2020        345
887        1248   5.3285  04.2020        345
888        1248  39.8762  05.2020        345
889        1248   0.5016  03.2020        345

[890 rows x 4 columns]

In [25]:
target_transaction_df['month'].unique()

array(['02.2020', '03.2020', '04.2020', '05.2020', '01.2020'],
      dtype=object)

In [26]:
result_df = target_transaction_df.groupby(['id_person','month'])['amount'].sum().reset_index()
result_df.columns = ['id_person', 'month','sum_of_transactions']
result_df = result_df.sort_values(by='id_person', ascending=False)
print("\n### Final Report by using python pandas ###\n")
result_df = result_df.reset_index(drop=True)
result_df

### Final Report by using python pandas ###

   id_person    month  sum_of_transactions
0       1234  01.2020              69.8083
1       1234  02.2020             342.7339
2       1234  03.2020             636.7035
3       1234  04.2020             326.3368
4       1234  05.2020             137.7105
5        345  01.2020             555.1851
6        345  02.2020            3911.3564
7        345  03.2020            6663.2372
8        345  04.2020            3242.3866
9        345  05.2020            1712.4352

## 5.Get same Results by using SQL query

In [27]:
server = 'DESKTOP-9C8N45J\SHREENATHSQL'
database = 'Customers_Detail'
#driver = '{SQL Server}'
username = 'sa'
password = 'shree12345'
conn_sec = 'yes'

# define our connection string 
cnxn = pyodbc.connect('DRIVER={SQL Server}', \
                       SERVER = server, \
                       DATABASE=database, \
                       UID=username,\
                       PWD=password, \
                       Trusted_Connection=conn_sec)

cursor = cnxn.cursor()
query_result = "SELECT account.id_person,transaction_2.month,SUM(transaction_2.amount) FROM account,transaction_2 WHERE (account.id_person=1234 OR account.id_person=345) AND account.id_account=transaction_2.id_account GROUP BY account.id_person,transaction_2.month ORDER BY account.id_person DESC;"

In [28]:
result = pd.read_sql_query(query_result, cnxn)
result.columns = ['id_person', 'month','sum_of_transactions']
cursor.close()
cnxn.close()
print("\n### Final Report by using sql query ###\n")
result

### Final Report by using sql query ###

   id_person    month  sum_of_transactions
0       1234  01.2020              69.8083
1       1234  02.2020             342.7339
2       1234  03.2020             636.7035
3       1234  04.2020             326.3368
4       1234  05.2020             137.7105
5        345  01.2020             555.1851
6        345  02.2020            3911.3564
7        345  03.2020            6663.2372
8        345  04.2020            3242.3866
9        345  05.2020            1712.4352

### results are exactly same (pandas via sql)